body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px, linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px, linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px, linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px, linear-gradient(90deg, #1b1b1b 10px, transparent 10px), linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    color: darkgray;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
}

.taken button span {
    background-color: orangered;
    border-radius: 32px;
    color: black;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.modal-lg {
    width: 900px;
}

.panel-default {
    border-color: black;
    border-radius: 0 !important;
}

    .panel-default > .panel-heading, .modal-header, .modal-footer {
        background-color: #242424;
        color: darkgray;
        border-radius: 0 !important;
        border-color: black;
    }

.panel-body {
    background: radial-gradient(black 15%, transparent 16%) 0 0, radial-gradient(black 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color: #282828;
    background-size: 16px 16px;
    border-color: black !important;
    color: darkgray;
}

.well {
    background-color: #282828;
    border-color: black;
    border-radius: 0;
    margin-bottom: 0 !important;
}

.btn-default {
    background-color: #999999;
    border: none;
    border-radius: 0;
    color: white;
}

.modal-content {
    background: radial-gradient(black 15%, transparent 16%) 0 0, radial-gradient(black 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color: #282828;
    background-size: 16px 16px;
    border: 1px solid black;
    color: darkgray;
}

hr {
    border-color: black;
}

dl {
    text-align: center;
}

dd, dt {
    display: -webkit-inline-box;
}